@font-face {
	font-family: 'Muller';
	src: url('MullerLight.eot');
	src: local('MullerLight'), local('MullerLight'),
		url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
  font-display: swap;
}


@font-face {
	font-family: 'Muller';
	src: url('MullerRegular.eot');
	src: local('MullerRegular'), local('Mullerregular'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: url('MullerBold.eot');
	src: local('MullerBold'), local('MullerBold'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
  font-display: swap;
}




html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'Muller', serif;
  background-color: #E5E5E5;
}

section {
  margin-bottom: 70px;
}

.main-container {
  padding: 30px 0 20px;
  width: 1170px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  margin: 0;
  padding: 0;
  bottom: none;
  border-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

/* Header */

.h2-title {
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.header-container{
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-right: 34px;
}

.container-logo {
  align-items: center;
}

.header-nav {
  margin-bottom: 70px;
}

.nav-container {
 align-items: center;
 justify-content: space-evenly;
 margin-bottom: 70px;
 padding: 15px;
 align-items: center;
 border: 1px solid #E5E5E5;
 border-radius: 15px;
 background-color: var(--main-bg-color);
}

.header-list-item {
  margin-right: 45px;
}

.container-btn {
  border-left: 1px solid #E1E1E1;
  height: 100%;
  padding-left: 67px;
}

.btn {
  margin-right: 50px;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  background-color: #fff;
  border: 1px solid #CC9933;
  border-radius: 15px;
}

.btn-header:last-child {
  margin-right: 0px;
}


.header-contact-item {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.link-item {
  background-image: url(../img/keyboardtab.svg);
  background-repeat: no-repeat;
  background-position: left center;
  width: 21;
  height: 12px;
  padding-left: 28px;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.header-link {
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

/* Hero */

.hero-content {
  flex-wrap: wrap;
  justify-content: space-between;
}

.column-left {
  width: 573px;
  min-width: 220px;
  flex-direction: column;
  justify-content: space-between;

}

.content-first{
  margin-bottom: 23px;
  border-radius: 15px;
  background-image:url(../img/content1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-second {
  border-radius: 15px;
  background-image:url(../img/content2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.column-right {
  width: 573px;
  min-width: 220px;
  flex-direction: column;
}

.h3-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.content-title1 {
  font-size: 60px;
  line-height: 60px;
}

.content-descr-left {
  margin: 0;
  margin-bottom: 47px;
  font-size: 30px;
  line-height: 30px;
}

.content-descr {
  margin: 0;
  margin-bottom: 47px;
  color: #fff;
}

.title-content {
  max-width: 573px;
  flex-direction: column;
  padding: 40px 40px 40px;
}

.position {
  padding: 245px 40px 41px 41px;
  border-radius: 15px;
  background-image:url(../img/content3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.content-link {
  padding-right: 25px;
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
  background-image: url(../img/right.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.prewiew-text {
  max-width: 300px;
}

.h3-title {
  margin: 0;
  margin-bottom: 15px;
}

.content-descr {
  margin: 0;
  margin-bottom: 47px;
}

.conatiner-text {
  flex-direction: column;
  max-width: 888px;
}

.about-descr {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: var(--main-color);
}

/* Services */

.services-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-img1{
  background-image: url(../img/services1.jpg);
}

.services-img2{
  background-image: url(../img/services2.jpg);
}

.services-img3{
  background-image: url(../img/services3.jpg);
}

.services-img4{
  background-image: url(../img/services4.jpg);
}

.services-item {
  width: 573px;
  margin-bottom: 23px;
  border-radius: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--main-bg-color);
}

.services-item:nth-child(2n) {
  margin-right: 0;
}

.services-content {
  padding: 191px 40px 40px 45px;
}

.servisec-title {
  display: inline-block;
  margin: 0;
  padding-right: 20px;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
  background-image: url(../img/right.svg);
  background-repeat: no-repeat;
  background-position: right center;
}


.services-descr {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: var(--main-color);
}

.services-link {
  display: block;
  margin-bottom: 5px;
}

/* Advantages */

.advantages-list {
  flex-wrap: wrap;
}

.advantages-item {
  margin-right: 23px;
  flex-direction: column;
  align-items: center;
  padding: 116px 45px 15px 42px;
  width: 275px;
  border-radius: 15px;
  margin-bottom: 23px;
  background-color: var(--main-bg-color);
  background-size: 66px 66px;
  background-repeat: no-repeat;
  background-position: top 40px left 45px;
}

.advantages-item:nth-child(4n) {
  margin-right: 0;
}

.advantages-img1 {
  background-image: url(../img/bathtub.svg);
}

.advantages-img2 {
  background-image: url(../img/hanger.svg);
}

.advantages-img3 {
  background-image: url(../img/heating.svg);
}

.advantages-img4 {
  background-image: url(../img/hotel-key.svg);
}

.advantages-img5 {
  background-image: url(../img/parking.svg);
}

.advantages-img6 {
  background-image: url(../img/reception.svg);
}

.advantages-img7 {
  background-image: url(../img/security-box.svg);
}

.advantages-img8 {
  background-image: url(../img/swimming-pool.svg);
}

.advantages-descr {
  font-size: 16px;
  line-height: 200%;
  color: var(--main-color);
}

.container-advantages {
  margin-bottom: 47px;
}

/* Placemet */

.placement-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.placement-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.placement-item {
  position: relative;
  width: 373px;
  margin-bottom: 23px;
  border-radius: 15px;
  background-color: var(--main-bg-color);
}

.placement-content {
  flex-direction: column;
  padding: 36px 46px 54px 46px;
}

.placement-ratieng {
  align-items: baseline;
  margin-bottom: 16px;
}

.descr-name {
  margin: 0;
}

.descr-price {
  margin: 0;
  margin-bottom: 16px;
  margin-right: 45px;
}

.descr-place {
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.article-price-gray {
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.article-price-dark {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.article-price-black {
  margin-right: 60px;
  font-size: 16px;
  line-height: 16px;
  color: black;
}

.article-link {
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

.placement-item-last {
  position: relative;
  background-image: url(../img/placement9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-placement {
  padding: 12px 15px;
  position: absolute;
  left: 45px;
  bottom: 30px;
}

.placement-link {
  padding-right: 20px;
  left: 54px;
  color: #fff;
  line-height: 20px;
  justify-content: flex-end;
  display: inline-flex;
  height: calc(100% - 27px);
  flex-direction: column;
  font-size: 20px;
  background-image: url(../img/rightwhite.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.placement-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* application */


.application-container {
  background-color: #E9E9E9;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 38px 45px 71px;
}

.title-aplication {
  margin: 0;
  margin-bottom: 19px;
}

.form-select {
  margin: 0;
  border: none;
  box-sizing: border-box;
  width: 170px;
  height: 20px;
}

.form-input {
  padding: 0;
  border: none;
  width: 130px;
  height: 25px;
}

.section-border {
  border-right: 1px solid #E1E1E1;
  height: 100%;
  padding-right: 20px;
}

.border-bottom {
  border-bottom: 1px solid #E1E1E1;
  width: 121;
}

.section-aplication-name {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  margin-bottom: 15px;
}

.form-center {
  justify-content: space-between;
  align-items: center;
  width: 1080px;
  padding:31px 25px 32px;
  background-color: var(--main-bg-color);
  border-radius: 15px;
  box-sizing: border-box;
}

.form {
  flex-direction: row;
}

.application-column {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

.form-btn {
  margin: 0;
  padding: 13px 30px;
}


/* contact */

.cotact-container {
  padding: 45px 45px;
  background-color: var(--main-bg-color);
  border-radius: 15px;
  background-image: url(../img/office.jpg);
  background-repeat: no-repeat;
  background-position: 471px 44px;
  background-size: 654px 528px;
}

.contact-list {
  flex-direction: column;
}

.contact-item {
  justify-content: space-between;
  width: 365px;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 23px;
  padding-top: 25px;
}

.contact-item:first-child {
  padding-top: 0;
}

.contact-item:last-child {
  margin-bottom: 50px;
}

.contact-email-descr{
  margin: 0;
}

.contact-column {
  flex-direction: column;
}

.contact-descr {
  margin: 0;
  width: 230px;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  color: var(--main-color);
}

.contact-title {
  margin: 0;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: var(--main-color);
}

.contact-link {
  font-style: normal;
}

.contact-number {
  padding-right: 80px;
}

.contacts {
  margin-bottom: 19px;
}

.btn-contact {
  padding: 29px 27px;
  margin-bottom: 27px;
}


/* footer */

.footer-container {
  background-color: #333333;
  border-radius: 15px;
  padding: 51px 52px 46px;
  background-image: url(../img/blacklogo.svg);
  background-repeat: no-repeat;
  background-position: 730px 142px;
}

.footer-left {
  width: 410px;
  margin-right: 100px;
}

.footer-center {
  width: 470px;
  margin-right: 230px;
}

.footer-descr {
  margin: 0;
  margin-bottom: 49px;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
}

.fotter-adress{
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
}

.general-link {
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.item-number {
  flex-direction: column;
  margin-bottom: 15px;
}

.item-email {
  flex-direction: column;
  margin: 0;
}

.social-link {
  margin-bottom: 20px;
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-link-ta {
  background-image: url(../img/trip.svg);
}

.social-link-tw {
  background-image: url(../img/twitter.svg);
}

.social-link-fb {
  background-image: url(../img/facebook.svg);
}

.social-link-vk {
  background-image: url(../img/vk.svg);
}

.social-link-in {
  background-image: url(../img/instagram.svg);
}

/* transition */

.btn {
  transition-property: color, background-color;
  transition-duration: 650ms;
  transition-timing-function: ease-in-out;
}

.btn:focus {
  color: white;
  background-color: #CC9933;
}

.btn:hover {
  color: white;
  background-color: #CC9933;
}

.btn:active {
  color: white;
  background-color: #A47312;
  transition-duration: 50ms;
}

.navigation-link {
  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.navigation-link:hover {
  color: #E9C479;
}

.navigation-link:focus{
  color: #CC9933;
}

.navigation-link:active{
  color: #A47312;
  transition-duration: 40ms;
}

.div-link {
  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.div-link:hover {
  color: #E9C479;
}

.div-link:focus{
  color: #CC9933;
}

.div-link:active{
  color: #A47312;
  transition-duration: 40ms;
}

.social-item {
  transition-property: fill;
}

.social-item:hover svg path{
  fill: orange;
}

/* custom-color */

:root {
  --main-color: black;
  --main-bg-color: white;
}
